body {
  margin: 0;
  padding: 0;
}
.header {
  width: auto;
  background-color: rgba(0, 0, 255, 0.782);
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.headerLogo {
  width: 250px;
  padding-left: 1.75rem;
}
.headerText {
  margin-left: 20px;
  margin-right: 5px;
  font-size: 25px;
}
.headerProfileIcon {
  width: 50px;
  margin-right: 5px;
}
#time {
  font-size: 20px;
  margin-left: auto;
}
@media (max-width: 480px) {
  #pt {
    display: none;
  }
  .headerProfileIcon {
    margin-left: auto;
  }
  #time {
    display: none;
  }
  .headerLogo {
    padding-left: 0;
    width: 200px;
  }
}
.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  z-index: 1000;
}
.MenuDiv {
  text-align: center;
}
@media (min-width: 600px) and (max-width: 900px) {
  .headerLogo {
    padding-left: 0;
  }
}
